html {
  background-color: #c9b5ae;
  font-family: 'PT Serif', serif;
}

img {
  width: 100%;
}

header {
  color: #421534;
  font-family: 'PT Sans', sans-serif;
}

header li {
  list-style-type:none;

}

a, link {
  color: #762239
}

a; hover {
  color: #381f1a
}

figcaption {
  font-style: italic;
  text-align: center;
}

figure + p {
  font-weight: bold;
}

blockquote {
  font-size: 1.5rem;
  font-style: italic;
}

cite {
  font-size: .75rem;
}

h2 {
  font-family: "PT Sans", sans-serif;
  color: #421534;
}

ol li {
  list-style: lower-greek;
}

h2 + p {
  font-style: italic;
}

dt {
  font-weight: bold;
}

h2 + ul {
  list-style-type: circle;
}
